OPENAI_API_KEY=your_openai_key_here

DATABASE_URL=postgresql://postgres:admin123@localhost:5433/ai_taskflow

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

S3_STORAGE_ENABLED = false 

# If S3_STORAGE_ENABLED is true, you need to set the following variables:
AWS_BUCKET_NAME=your_bucket_name_here
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACESS_KEY=your_secret_access_key_here
AWS_REGION=your_region_here